
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Questrial', sans-serif;
}

.container {
    /* max-width: 75em; */
    margin: 0 auto;
}

h1 {
    color: #ffbb00;
    margin: 0 auto;
    font-family: 'Kelly Slab', sans-serif;
    font-size: 3rem;
    max-height: 100px;
    text-transform: uppercase;
}

header {
    background: #fb6542;
    padding: 50px;
    display: flex;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
}

nav {
    background: #375E97;
    padding: 5px;
    max-height: 3rem;
}

nav li {
    list-style: none;
    margin-left: 20px;
}

nav ul a {
    text-decoration: none;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

nav .container {
    max-width: 40rem;
}

main {
    background: #3f681c;
}

footer {
    background: #ffbb00;
    padding: 20px;
    text-align: center;
}

.wrapper {
    background: #375E97;
    padding: 5px;
}

.key-words-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 980px;
    font-family: 'Staatliches', sans-serif;
}

.key-words-container div{
    border-radius: 10px;
    margin-left: 20px;
    background-color: orchid;
    padding: 5px;
    cursor: pointer;
    align-self: center;
}

.main-gallery div img{
    width:100px;
    height:100px;
    margin:10px;
    cursor: pointer;
    object-fit: cover;
}

.main-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-width: 980px; */
    flex-wrap: wrap;
}

@font-face {
    font-family: 'Impact';
    src: url("../fonts/impact.ttf");
}

@font-face {
    font-family: 'Questrial';
    src: url("../fonts/Questrial-Regular.ttf")
}

@font-face {
    font-family: 'Kelly Slab';
    src: url("../fonts/KellySlab-Regular.ttf")
}

@font-face {
    font-family: 'Audiowide';
    src: url("../fonts/Audiowide-Regular.ttf")
}

@font-face {
    font-family: 'Josefin Slab';
    src: url("../fonts/JosefinSlab-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Sarpanch';
    src: url("../fonts/Sarpanch-Regular.ttf");
}

@font-face {
    font-family: 'Jura';
    src: url("../fonts/Jura-Regular.ttf");
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

@font-face {
    font-family: 'Staatliches';
    src: url("../fonts/Staatliches-Regular.ttf");
}

@font-face {
    font-family: 'Anton';
    src: url("../fonts/Anton-Regular.ttf");
}

@font-face {
    font-family: 'Electrolize';
    src: url("../fonts/Electrolize-Regular.ttf");
}

@font-face {
    font-family: 'Bungee';
    src: url("../fonts/Bungee-Regular.ttf");
}

@font-face {
    font-family: 'Geo';
    src: url("../fonts/Geo-Regular.ttf");
}





