h1 {
    color: blueviolet;
}

.main-gallery div img {
    width: 100px;
    height: 100px;
    margin: 10px;
    object-fit: cover;
}

.main-gallery {
    display: flex;
    justify-content: center;
    max-width: 980px;
    flex-wrap: wrap;
}

